<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add teacher page</title>
</head>
<style>
    a {
        text-decoration: none;
    }
</style>
<body>
    <%- include('partials/nav-bar')%>
    <h1>Add New Teacher</h1>

    <form action="/teachers/add" method="post"> 
        <%if (error === 'First Name harus diisi') {%>
            <p><%= error %></p>
        <%}%>
        <label>First Name:</label> <br>
        <input type="text" name="first_name"> <br><br>

        <%if (error === 'Last Name harus diisi') {%>
            <p><%= error %></p>
        <%}%>
        <label>Last Name:</label> <br>
        <input type="text" name="last_name"> <br><br>
        
        
        <%if (error === 'Email harus diisi') {%>
            <p><%= error %></p>
        <%} else if (error === 'Email harus ada character @') {%>
            <p><%= error %></p>
        <%}%>
        <label>Email:</label> <br>
        <input type="text" name="email"> <br><br>
        
        <label>Gender:</label> <br>
        <select name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select> <br><br>

        <button type="submit">Add</button>
        <button><a href="/teachers">Cancel</a></button>
    </form>

</body>
</html>