<%- include('partials/header', { title: 'Edit Student' }) %>

<form action="/student/<%= object[0].id %>/edit" method="POST">
    <div class="form-group">
      <label for="FirstName" >First Name</label>
      <input type="text" class="form-control" id="FirstName" name="first_name" value="<%= object[0].first_name %>">
    </div>
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" class="form-control" id="LastName" name="last_name" value="<%= object[0].last_name %>">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="<%= object[0].email %>">
      </div>
    <div class="form-group">
      <label for="Gender">Gender</label>
      <select class="form-control" id="Gender" name="gender">
        <option <%= object[0].gender == 'male' ? 'selected' : '' %> >Male</option>
        <option <%= object[0].gender == 'female' ? 'selected' : '' %> >Female</option>
      </select>
    </div>
    <div class="form-group">
      Birth: <input type="date" id="myDate" name="birth_date" value="<%= object[0].birth_date %>">
      
    </div>
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
  
<%- include('partials/footer') %>