<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit student page</title>
</head>
<style>
    a {
        text-decoration: none;
    }
</style>
<body>
    <%- include('partials/nav-bar')%>
    <h1>Edit Student</h1>

    <form action="/students/edit/<%=id%>" method="post"> 

        <%if (error === 'First Name harus diisi') {%>
            <p><%= error %></p>
        <%}%>
        <label>First Name:</label> <br>
        <input type="text" name="first_name" value="<%=dataStudents.first_name%>"> <br><br>


        <%if (error === 'Last Name harus diisi') {%>
            <p><%= error %></p>
        <%}%>
        <label>Last Name:</label> <br>
        <input type="text" name="last_name" value="<%=dataStudents.last_name%>"> <br><br>
        
        <%if (error === 'Email harus diisi') {%>
            <p><%= error %></p>
        <%} else if (error === 'Email harus ada character @') {%>
            <p><%= error %></p>
        <%}%>
        <label>Email:</label> <br>
        <input type="text" name="email" value="<%=dataStudents.email%>"> <br><br>
        
        <label>Gender:</label> <br>
        <select name="gender">
            <option value="male" <%= dataStudents.gender === 'male' ? 'selected' : ''%>>Male</option>
            <option value="female" <%= dataStudents.gender === 'female' ? 'selected' : ''%>>Female</option>
        </select> <br><br>


        <%if (error === 'Birth Date harus diisi') {%>
            <p><%= error %></p>
        <%} else if (error === 'Tanggal tidak valid') {%>
            <p><%= error %></p>
        <%}%>
        <label>Birth Date:(YYYY-MM-DD)</label> <br>
        <input type="text" name="birth_date" value="<%=dataStudents.birth_date%>"> <br><br>

        <button type="submit">Save</button>
        <button><a href="/students">Cancel</a></button>
    </form>

</body>
</html>