
<%- include('partial/header', { title: "Edit Student", header: "Edit Student"} );%>
    <!---------->
    <% if (error) { %>
        <%= error %>
    <% }%> <br>
    <a href="/student" role="button">Show Student List</a>
    <form action="/student/<%= data.id %>/edit" method="POST">
        <!------>
        <label>First Name</label>
        <input type="text" name="first_name" placeholder="first_name" value="<%= data.first_name%>" autofocus><br>
        <label>Last Name</label>
        <input type="text" name="last_name" placeholder="last_name" value="<%= data.last_name%>"><br>
        <label>Email</label>
        <input type="text" name="email" placeholder="email" value="<%= data.email%>"><br>
        <label>Gender :</label>
        <select name="gender">
            <option value="male" <%= data.gender === "male" ? "selected" : "" %>> Male</option>
            <option value="female" <%= data.gender === "female" ? "selected" : "" %>>Female</option>
        </select> <br>
        <label>Birth Date :</label>
        <input type="text" name="birth_date" placeholder="DD-MM-YYYY" value="<%= data.birth_date%>"><br>
        <!----
        <!-- <%- include('partial/form', {type:"Edit"}) ;%> -->
        <button type="submit">Edit Student</button> 
    </form>
</body>
</html>