<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/bootstrap') %>
        <title>Add Teachers Data</title>
    </head>
    <body style="position: center;"> 
        <%- include('partials/navbar') %> 
        <h1 style="text-align: center;">Edit Data Teachers</h1>
        <p style="text-align: center;"><a href="/teachers">show all data</a></p>
        <form action="/teachers/edit/<%=data.id%>" method = 'POST'>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label >First Name :</label>
                <input type="text" class="form-control" name="first_name" value="<%=data.first_name%>">
              </div>
              <div class="form-group col-md-6">
                <label >Last Name :</label>
                <input type="text" class="form-control" name="last_name"  value="<%=data.last_name%>">
              </div>
            </div>
            <div class="form-group">
              <label >Email :</label>
              <input type="text" class="form-control" name="email"  value="<%=data.email%>">
            </div>
            <label>Gender :</label>
            <select name="gender" required>
              <option ><%=data.gender%></option>
              <option value="male">Male</option>
              <option value="female">Female</option>
           </select><br><br>
            <button type="submit" name = "submit" class="btn btn-primary mb-2" >Edit Teachers</button>
          </form>
    </body>
    <foot>

    </foot>
</html>

