<%- include('../template/head', {title}); %>

<form action=<%=title[0] == 'A'?'/subjects/add': '/subjects/edit/'+data.id%> method="POST" style="padding: 2% 5%;">
    <%if(alert) {%>
    <div class="alert alert-danger" role="alert">
        <%= alert%>
    </div>
    <%}%>
    <div class="form-group">
        <label for="exampleFormControlInput1">First Name</label>
        <input value="<%= data.subject_name%>" name="subject_name" type="text" class="form-control"
    id="exampleFormControlInput1" placeholder="subject name">
    </div>
    <button type="submit" class="btn btn-primary">Save</button> &nbsp;
    <a href="/subjects" type="button" class="btn btn-danger">Cancel</a>
        <input style="visibility: hidden;"  value="<%= title%>" name="act" type="text"> 
        <input style="visibility: hidden;" value="<%= data.id?data.id:''%>" name="id" type="text">    
</form>

</body>

</html>