<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>data students page</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>

    <%- include('partials/nav-bar')%>

    <h1>DATA STUDENTS</h1>

    <form action="/students/:id" method="post">
        <label>Search Students by Id</label> <br>
        <input type="text" name="student_by_id"><br>
        <button type="submit">Search</button> <br><br>
    </form>
    <br><br>

    <button><a href="/students/add">Add new student</a></button> <br><br>

    <%if (pesan) {%>
        <p><%=pesan%></p>
    <%}%>

    <table border="2">
        <thead>
            <tr>
                <td>ID</td>
                <td>FIRST NAME</td>
                <td>LAST NAME</td>
                <td>EMAIL</td>
                <td>GENDER</td>
                <td>BIRTH DATE</td>
                <td colspan="2">OPTIONS</td>
            </tr>
        </thead>
        <tbody>
            <%for (let i in data) {%>
                <tr>
                    <td><%=data[i].id%></td>
                    <td><%=data[i].first_name%></td>
                    <td><%=data[i].last_name%></td>
                    <td><%=data[i].email%></td>
                    <td><%=data[i].gender%></td>
                    <td><%=data[i].birth_date%></td>
                    <td><a href="/students/edit/<%=data[i].id%>">EDIT</a></td>
                    <td><a href="/students/delete/<%=data[i].id%>">DELETE</a></td>
                </tr>    
            <%}%>
        </tbody>
    </table>
    <%- include('partials/back-to-home')%>
</body>
</html>