<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/boostrap.ejs') %>
        <title>Students</title>
    </head>
    <body>
        <%- include('./partials/navbar.ejs') %>
        <div class="jumbotron">
            
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Birth Date</th>
                    <th scope="col">Options</th>
                </tr>
                </thead>
                <% for(let i =0; i < students.length; i++) { %>
                <tbody>
                <tr>
                    <th scope="row"><%= students[i].id %></th>
                    <td><%= students[i].first_name %></td>
                    <td><%= students[i].last_name %></td>
                    <td><%= students[i].email %></td>
                    <td><%= students[i].gender %></td>
                    <td><%= students[i].birth_date %></td>
                    <td><a href="/students/<%= students[i].id %>/edit" type="button" class="btn btn-primary btn-sm">Edit</a>
                        <a href="/students/<%= students[i].id %>/delete" type="button" class="btn btn-danger btn-sm">Delete</a></td>
                </tr>
                </tbody>
                <% } %>
            </table>
        </div>
    </body>
</html>