<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teacher by email page</title>
</head>
<style>
    a {
        text-decoration: none;
    }
</style>
<body>
    <nav>
        <ul>
            <li><a href="/students">Data Students</a></li>
            <li><a href="/teachers">Data Teachers</a></li>
            <li><a href="/subjects">Data Subjects (belum ada data hanya judul halamannya saja)</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <h1>DATA TEACHER BY EMAIL</h1>

    <% if (pesan) {%>
        <h4><%=pesan%></h4>
    <%}%>

    <%if (dataByEmail) {%>
        <table border="2">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>FIRST NAME</td>
                    <td>LAST NAME</td>
                    <td>EMAIL</td>
                    <td>GENDER</td>
                    <td colspan="2">OPTIONS</td>
                </tr>
            </thead>
            <tbody>
                <%for (let i in dataByEmail) {%>
                    <tr>
                        <td><%=dataByEmail[i].id%></td>
                        <td><%=dataByEmail[i].first_name%></td>
                        <td><%=dataByEmail[i].last_name%></td>
                        <td><%=dataByEmail[i].email%></td>
                        <td><%=dataByEmail[i].gender%></td>
                        <td><a href="/teachers/edit/<%=dataByEmail[i].id%>">EDIT</a></td>
                        <td><a href="/teachers/delete/<%=dataByEmail[i].id%>">DELETE</a></td>
                    </tr>    
                <%}%>
            </tbody>
        </table>
    <%}%>

</body>
</html>