
<%- include('partial/header', { title: "Teacher Page", header: "Teacher Page List"} );%>
    <!---------->
    <a href="/" role="button">Back to Homepage</a>

    <% if (data.length) {%>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Gender</th>
            </tr>
            <% data.forEach(item =>{ %>
                <tr>
                    <td><%= item.id%></td>
                    <td><%= item.first_name%></td>
                    <td><%= item.last_name%></td>
                    <td><%= item.email%></td>
                    <td><%= item.gender%></td>
                </tr>
            <% }) %>
        </table>
    <% }%>
</body>
</html>