<%- include('./partials/navbar.ejs', { title : 'Teacher',error: false, nav1 : '/', menu1 : 'Home', nav2 : '/student', menu2 : 'Student', nav3 : '/subject', menu3 : 'Subject'}) %>
<h1 style="color: lawngreen; text-align: center;"> Teachers Data </h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">No.</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i = 0; i < teacher.length; i++) { %>
        <tr>
            <th scope="row"><%= i + 1 %></th>
            <td><%= teacher[i].first_name %></td>
            <td><%= teacher[i].last_name %></td>
            <td><%= teacher[i].email %></td>
            <td><%= teacher[i].gender %></td>
        </tr>
        <% } %>
    </tbody>
</table>

<%- include('./partials/footer.ejs') %>