<%-include('./partial/header')%>
</ul>
</div>
<form class="form-inline my-2 my-lg-0" action="/teachers" method="POST">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</nav>
<table class="table mt-5" >
    <thead>
      <tr>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
      </tr>
    </thead>
    <tbody>
        <%for(i=0;i<data.length;i++){%>
      <tr>
        <td><%= data[i].first_name%></td>
        <td><%= data[i].last_name%></td>
        <td><%= data[i].email%></td>
        <td><%= data[i].gender%></td>
      </tr>
        <%}%>
    </tbody>
  </table>


<%-include('./partial/footer')%>